* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
  text-align: center;
  margin: 16px;
  color: rgb(25, 136, 233);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sub-title {
  margin: 0 0 8px 0
}

label {
  font-weight: 600;
}

input {
  border: 0;
  border-radius: 10px;
  background-color: rgba(156, 156, 156, 0.338);
}

#calc-btn {
  border: 0;
  border-radius: 24px;
  margin: 16px;
  width: 80px;
  height: 20px;
  font-size: 14px;
  font-weight: 600;
}